 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
      font-size: 12px;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

 .form-group{
   margin-right: 5px;
 }
 .form-row{
  display:flex;
   select{
     margin-right: 5px;
   }
   .name{
     margin-right: 5px;
   }
 }
 .alerts{
   margin-top: 10px;
   margin-bottom:5px;
 }


 .card{
    border: 1px solid #DCDCDC;
    margin:10px 10px;
    border-radius: 4px;
    .card-body{
        padding: 10px 10px;
       
      a{
          color: #fff;
      }  
    }
  }


 .main-user{
    .gravatar{
        margin-right: auto;
        margin-left: auto;
      }
    h2{
        text-align:center;
    }  
    button{
        a{
            color:#fff;
        }
    }
 }

 .posts-header{
    text-align: center;
    border-bottom:1px solid #999;
  }

.navbar-brand {
    color:#fff;
  }
.navbar-nav{
    list-style:none;
   
 .nav-link{
     color:#fff;
     float: left;
     padding: 15px 15px;
     font-size: 16px;
     line-height: 20px;
     height: 50px;
 } 
}

.users{
    display:flex;
    margin: 10px 10px;
    .user{
        margin-left:10px;
    }
    a{
      text-decoration: none;
      font-size: 16px;
      height:36px;
    }
    .success{
      color:#008000;
      border: 2px solid #008000;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
    }
    .pending{
      color:#E87B06;
      border: 2px solid #E87B06;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
    }
}
.prof{
    a{
        color:#fff;
    }
}
.post{
    margin-top:10px;
}
.info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;

  p{
    color:#777;
    font-size:14px;
    margin:0;
    padding:0;
  }
}

  .buttons{
    display:flex;
    justify-content: space-between;
    .btn-info{
      background-color:#DDA0DD;
      border: 1px solid #DDA0DD;
    }
    .comment-count{
      border: 2px solid #DDA0DD;
      border-radius: 7px;
      padding: 7px 7px;
    }
  }

.comment-body{
 display:flex;
 justify-content: space-between;

 .field{
   width:80%;
 }
}
.comments{
  display:flex;
  justify-content: space-between;
  align-items: baseline;

  .left{
    width:81%;
  }
  .right{
    .btn{
      border: 2px solid #DDA0DD;
      background-color: #fff;
      padding: 6px 10px;
      a{
        color: #221177;
      }
    }
  }
  .posts{
    background-color: #E6E6FA;
    border-radius: 10px;
    padding:10px 10px;
    margin-bottom: 0;
    .user{
      font-weight: 600;
      color:#221177;
      font-size: 16px;
    }
  }
} 

.dropdown {
  position: relative;
  display: inline-block;
  .active{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color:#fff;
    padding:13px 5px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color:#221177;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display:block;
  li{
    display: flex;
    justify-content: space-between;
    padding:5px 2px;
  }
}
.btn-success{
  a{
    color:#fff;
    font-weight: 600;
  }
}