@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
      font-size: 12px;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

 .col-md-4{
  float: right;
 } 
 .form-group{
   margin-right: 5px;
 }
 .form-row{
  display:flex;
   select{
     margin-right: 5px;
   }
   .name{
     margin-right: 5px;
   }
 }
 .alerts{
   margin-top: 10px;
   margin-bottom:5px;
 }