
<% if notice %>
<div class='alerts'>
    <p class="alert alert-success"><%= notice %></p>
</div>    
<% end %>
<% if alert %>
<div class='alerts'>
    <p class="alert alert-danger"><%= alert %></p>
</div>
<% end %>