<% provide(:title, "Users") %>

  <% @users.each do |user| %>
   <div class='users'>
    <div class="gravatar" style="background:transparent url(<%= gravatar_image_url(user.email.gsub('spam', 'mdeering'), size: 100) %>) 0px 0px no-repeat; width:100px; height:100px;"></div>
      <h2 class="user"><%= user.first_name %></h2>
      <br>
    </div>    
  <% end %>