<div class='form-container'>
  <%= form_for @post do |f|%>
    <%= f.label :content, 'Edit post' %>
    <%= f.text_field :content, value: @post.content, class: 'form-control' %><br>
    <%= f.submit 'Edit', class: 'btn btn-info btn-block' %>
  <% end %>
</div>